.DS_Store
.env
.env.*
!.env.example

venv/
.venv/
__pycache__/
*.py[cod]
*.bat

/pyplenary/db.sqlite3
/pyplenary/static/
/pyplenary/staticfiles/
/pyplenary/scripts/

config.yaml
*.log
coverage.xml
.coverage
htmlcov/
