/*
    Copyright © 2021  Lee Yingtong Li (RunasSudo), Allen Gu

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

@media screen and (min-width: 501px) {
      .masthead h1 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size: 3em;
    }

    .masthead h2 {
        margin-bottom: 0.5em;
        font-size: 1.5em;
    }

    .vertical-stripe {
        padding: 4em 0em;
    } 
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 500px) {
    .masthead h1 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size: 2em;
    }

    .masthead h2 {
        margin-bottom: 0.5em;
        font-size: 0.8em;
    }

    .vertical-stripe {
        padding: 1.5em 0em;
    }
}


.masthead {
    padding-bottom: 1em;
    text-align: center;
    color: #ffffff;
    font-weight: normal;
}


/* Colour scheme */

.ui.primary.button, .ui.primary.buttons .button {
	background-color: #ff9133;
}

.black-headers {
    background-color: #1b1c1d;
}

.card-btn{
    background-color: #ff9133;
    border-color: #de9800;

}

.orange-btn{
    background-color: #ff9133;
    border-color: #de9800;
    
}

.nav-item {
    padding-left: 0.5em;
    padding-right: 0.5em;
    align-self: center;
}

.nav-link.active {
    border-color: #ffffff;
    border-bottom-style: solid;
}

.footer {
    margin-bottom: 5pt;
    width: 100%;
    color: grey;
    text-align: center;
    font-size:9pt ;
}

/* Timeline CSS */

.timeline {
    position: relative;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80px;
    height: 100%;
    width: 4px;
    background: #e9ecef;
    border-radius: .25rem;
}

.timeline > div {
    position: relative;
    /*min-height: 3.5em;*/
    margin-bottom: 1.5rem;
}

.timeline .content {
    position: relative;
    margin-left: 100px;
}

.timeline .content .badge {
    font-size: 0.75rem;
    position: relative;
    top: -2px;
}

.timeline .content .location {
    margin-bottom: 0.5rem;
}

.timeline .content .location a {
    color: inherit;
    word-break: break-all;
}

.timeline .content p, .timeline .content ul {
    font-size: 0.875rem;
    margin-bottom: 0.5em;
}

.timeline .time {
    display: block;
    position: absolute;
    right: 100%;
    margin-right: -64px;
    top: 0;
    text-align: right;
}

.timeline .badge-dot {
    box-shadow: 0 0 0 5px #fff;
    position: absolute;
    top: 4px;
    left: 73px;
}

.badge-dot {
    width: 18px;
    height: 18px;
    position: relative;
}

.badge-dot i::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: .25rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -5px;
    background: #fff;
}

.jumbotron {
    background-color: #212529;
    padding: 1em;
    margin-top: 10px;
    color: white;
}