{% extends 'councilApp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div style="max-width: 600px; margin: 0 auto;">
	<h2>Password Reset</h2>
	{% if linkExpired %}
		<div class="alert alert-danger" role="alert">
		  <h4>Error</h4>
		  <p>This password link may be invalid or expired. Try again <a href="/password_change_request/" class="alert-link">here</a>.
		</div>
		
	{% else %}
		{% if done %}
			<div class="alert alert-success" role="alert">
	      Password successfully changed. <a href="/login/" class="alert-link">Click here to login</a>.
	    </div>
		{% else %}
			<p>Change password for <strong>{{user.email}}</strong>:
			<div>
				<form method="post">
					<div class="form-group">
						{% csrf_token %}

						{{ changeForm|crispy }}	

						<br>
						<button type="submit" class="btn btn-success btn-block">Submit</button>
					</div>
				</form>
			</div>
		{% endif %}
	{% endif %}
</div>
{% endblock %}