{% extends 'councilApp/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div style="max-width: 600px; margin: 0 auto;">
  <h2>Password Reset</h2>
  {% if done %}
    <div class="alert alert-success" role="alert">
      Password successfully changed.
    </div>
  {% else %}
    <p>Change password for <strong>{{user.email}}</strong>:</p>
    <div>
      <form method="post">
        <div class="form-group">
          {% csrf_token %}

          {{ changeForm|crispy }} 

          <br>
          <button type="submit" class="btn btn-success btn-block">Submit</button>
        </div>
      </form>
    </div>
  {% endif %}
</div>
{% endblock %}