{% extends 'councilApp/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Registration{% endblock %}

{% block content %}
<div style="max-width: 600px; margin: 0 auto;">
  <h2>Webapp Registration</h2>
  {% if error == 1 %}
    <div class="alert alert-danger" role="alert">
      <h4>Error</h4>
      <p>This email address already has been registered. Please <a href="/login/" class="alert-link">login</a> or <a href="/password_change_request/" class="alert-link">reset your password</a>.</p>
      Alternatively, try <a href="/registration/" class="alert-link">registering again</a> with a different email adress. 
    </div>
  {% elif error == 2 %}
    <div class="alert alert-danger" role="alert">
      <h4>Error</h4>
      An error has occurred. Please contact <a href="mailto:secretary@amsa.org.au" class="alert-link">secretary@amsa.org.au</a> for assistance.
    </div>
  {% else %}
    {% if done %}
      <div class="alert alert-success" role="alert">
        <p>An email containing an activation link has been sent to <strong>{{email}}</strong>.</p>
        If you haven't received this email within five minutes, please check your spam folder. Contact <a href="mailto:secretary@amsa.org.au" class="alert-link">secretary@amsa.org.au</a> if you run into any further issues.
      </div>
    {% else %}
      <p>Enter your details below.</p>

      <div>
        <form method="post">
          <div class="form">
            {% csrf_token %}
            {{ regoForm|crispy }}  
            <button type="submit" class="btn btn-success btn-block">Submit</button>
          </div>
        </form>
      </div>
      <script>
        $( ".form-group" ).after( "<br>" );form-select-sm
        $( "#id_institution" ).addClass("form-select-sm");
      </script>
    {% endif %}
  {% endif %}
</div>

{% endblock %}