{% extends 'councilApp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div style="max-width: 600px; margin: 0 auto;">
  <h2>Set Password</h2>
  {% if error %}
    <div class="alert alert-danger" role="alert">
      <h4>Error</h4>
      {% if error == 1%}
        An error has occurred. Please contact <a href="mailto:secretary@amsa.org.au" class="alert-link">secretary@amsa.org.au</a> for assistance.
      {% elif error == 2%}
        This activation link may be invalid or expired. Try <a href="/registration/" class="alert-link">registering again</a>.
      {% endif %}
    </div>
  {% else %}
    {% if done %}
      <div class="alert alert-success" role="alert">
        Password successfully set. <a href="/login/" class="alert-link">Click here to login</a>.
      </div>
    {% else %}
      <p>Create password for <strong>{{email}}</strong>. Note that your email will be your login username. <strong>Your account will not be activated until you set a password.</strong></p> 
      <div>
        <form method="post">
          <div class="form-group">
            {% csrf_token %}

            {{ pwdForm|crispy }}  

            <br>
            <button type="submit" class="btn btn-success btn-block">Submit</button>
          </div>
        </form>
      </div>
    {% endif %}
  {% endif %}
</div>
{% endblock %}