{% extends 'councilApp/semantic_base.html' %}

<!--
    Copyright © 2021  Lee Yingtong Li (RunasSudo)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{% block body %}
<div class="black-headers">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">{{ NAVBAR_NAME }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto w-100">
            <li class="nav-item">
              <a class="nav-link {% if active_tab == 'index' %}active{% endif %}" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {% if active_tab2 == 'info' %}active{% endif %}" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Council Info</a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item {% if active_tab == 'agenda' %}active{% endif %}" href="/agenda/">Agenda</a></li>
                <li><a class="dropdown-item {% if active_tab == 'nodes' %}active{% endif %}" href="/nodes/">Nodes</a></li>
                <li><a class="dropdown-item {% if active_tab == 'socials' %}active{% endif %}" href="/socials/">Social Events</a></li>
                <li><a class="dropdown-item {% if active_tab == 'reports' %}active{% endif %}" href="/reports/">Reports</a></li>
                <li><a class="dropdown-item" href="https://docs.google.com/document/d/1_CyfQU_Neql7JH8iD-irkCvk00Lt1BupPwyjPcIvPVQ/edit?usp=sharing" target="_blank">Policies</a></li>{% comment %}TODO: Make configurable{% endcomment %}
                <li><a class="dropdown-item" href="https://www.facebook.com/groups/175100374667454/" target="_blank">Facebook Group</a></li>{% comment %}TODO: Make configurable{% endcomment %}
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link {% if active_tab == 'delegates' %}active{% endif %}" href="/delegates/">Delegate List</a>
            </li>

            <li class="nav-item">
              <a class="nav-link {% if active_tab == 'speaker_list' %}active{% endif %}" href="/speaker_list/">Speaker List</a>
            </li>

            <li class="nav-item">
              <a class="nav-link {% if active_tab == 'poll' %}active{% endif %}"  href="/poll/">Poll Centre</a>
            </li>

            {% if user.is_authenticated %}
              {% if user.delegate.superadmin %}
                <li class="nav-item">
                  <a class="nav-link {% if active_tab == 'app_admin' %}active{% endif %}"  href="/app_admin/">Admin Centre</a>
                </li>
              {% endif %}
            {% endif %}

            <li style="flex-grow:1;"></li><!-- Force other items to the right -->

            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ user.delegate.name }}</a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="/profile/">My Details</a></li>
                <li><a class="dropdown-item" href="/password_reset_logged/">Change Password</a></li>
                <li><a class="dropdown-item"  href="/proxy/">Manage Proxies</a></li>
                <li><a class="dropdown-item" href="/logout/">Logout</a></li>
              </ul>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link {% if active_tab == 'registration' %}active{% endif %}" href="/registration/">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active_tab == 'login' %}active{% endif %}" href="/login/">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% block masthead %}
    {% endblock %}
  </div>
</div>

<div class="vertical-stripe">
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</div>

<div class="footer" id="footer">
  Copyright © 2021 Allen Gu, Lee Yingtong Li (RunasSudo)
  <br>
  Licensed under GNU AGPLv3
</div>
{% endblock %}
