{% extends 'councilApp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Delegate List</h2>
<br>
<div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Speaker number</th>
        <th scope="col">Name</th>
        <th scope="col">Role</th>
        <th scope="col">Institution</th>
      </tr>
    </thead>
    <tbody>
      {% for delegate in allDelegates %}
        {% if delegate.id == thisDelegateId %}
          <tr style="background:lightgreen">
        {% else %}
          <tr>
        {% endif %}
          <th scope="col">{{ delegate.speakerNum }}</th>
          <td>{{ delegate.name }}</td>
          <td>{{ delegate.role }}</td>
          <td>{{ delegate.institution }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}