{% extends 'councilApp/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Delegate List{% endblock %}

{% block content %}
<h2>Delegate List</h2>
<br>
<input type="text" class="form-control" id="delegateSearchInput" onkeyup="searchDelegateTable()" placeholder="Search within delegate table...">
<br>
<div class="table-responsive">
  <table class="table table-hover" id="delegateTable">
    <thead class="thead-dark">
      <tr>
        <th scope="col"><span class="d-none d-md-block">Speaker</span></th>
        <th scope="col" style="width: 25%">Name</th>
        <th scope="col">Role</th>
        <th scope="col">Institution</th>
        <th scope="col">Pronouns</th>
      </tr>
    </thead>
    <tbody>
      {% for delegate in allDelegates %}
        {% if user.is_authenticated and delegate == user.delegate %}
          <tr style="background:lightgreen">
        {% else %}
          <tr>
        {% endif %}
          <td>{{ delegate.speakerNum }}</th>
          <td>{{ delegate.name }}</td>
          <td>{{ delegate.role }}</td>
          <td>{{ delegate.institution }}</td>
          {% if delegate.pronouns %}
            <td>{{ delegate.pronouns }}</td>
          {% else %}
            <td>-</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}