{% extends 'councilApp/base.html' %}

{% comment %}
    Copyright © 2021  Lee Yingtong Li (RunasSudo), Allen Gu

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}AMSA National Council 1 2021{% endblock %}

{% block masthead %}
  <div class="masthead">
    <h1>{{ config.site.name }}</h1>
    <h2>{{ config.site.tagline }}</h2>
  </div>
{% endblock %}

{% block content %}
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Speaker List</h5>
          <p class="card-text">View the speaker list, or put yourself on the list to indicate you would like to speak.</p>
        </div>
        <a href="/speaker_list/" class="btn btn-primary card-btn stretched-link">Enter</a>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">View delegates</h5>
          <p class="card-text">View all delegates</p>
        </div>
        <a href="/delegates/" class="btn btn-primary card-btn stretched-link">Enter</a>
      </div>
    </div>

    {% if user.is_authenticated %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">View profile</h5>
            <p class="card-text">View your registered profile</p>
          </div>
          <a href="/profile/" class="btn btn-primary card-btn stretched-link">Enter</a>
        </div>
      </div>

      {% if user.delegates.rep %}
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Vote</h5>
              <p class="card-text">For AMSA reps to vote</p>
            </div>
            <a href="/vote/" class="btn btn-primary card-btn stretched-link">Enter</a>
          </div>
        </div>
      {% endif %}
    {% endif %}

  </div>
{% endblock %}
