{% extends 'councilApp/base.html' %}

<!--
    Copyright © 2021  Lee Yingtong Li (RunasSudo)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{% block title %}AMSA National Council 1 2021{% endblock %}

{% block masthead %}
	<div class="ui text container">
		<h1 class="ui inverted header">AMSA National Council 1 2021</h1>
		<h2>26–28 March 2021 🍊</h2>
	</div>
{% endblock %}

{% block content %}
	<div class="ui cards">
		<a class="ui card" href="">
			<div class="content">
				<div class="header">Speaker List</div>
				<div class="description">View the speaker list, or put yourself on the list to indicate you would like to speak.</div>
			</div>
			<div class="ui bottom attached primary button">
				<i class="chevron right icon" style="margin: 0 .42857143em 0 -.21428571em;"></i>
				Enter
			</div>
		</a>
	</div>
{% endblock %}
