{% extends 'councilApp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<h2>Poll Centre</h2>
<br>

{% if activePolls|length > 0 %}
  <div class="alert alert-warning" role="alert">
    There are active polls available for voting.
  </div>
  <h4>Active polls</h4>
  <br>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for poll in activePolls %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{poll.title}}</h5>
            <p class="card-text">
              {% if poll.repsOnly %}
                AMSA Reps only, 
              {% else %}
                Voting open to all, 
              {% endif %}

              {% if poll.anonymous %}
                Anonymous voting, 
              {% endif %}

              {% if poll.supermajority %}
                Requires ⅔ majority, 
              {% else %}
                Requires ½ majority, 
              {% endif %}

              {% if poll.weighted %}
                Institutional-weighted
              {% endif %}
            </p>
          </div>
          <a href="/vote/{{poll.id}}/" class="btn btn-primary card-btn stretched-link">Vote</a>
        </div>
      </div>
    {% endfor %}
  </div>

{% else %}
  <div class="alert alert-primary" role="alert">
    There are no current polls available for you to vote.
  </div>
{% endif %}

<br>

{% if superadmin %}
  <a href="/poll/create/" class="btn btn-primary">Create poll</a>
  <br>
  <br>
{% endif %}

<hr/>
<h4>All previous polls</h4>
<div class="table-responsive">
  <table class="table table-hover" id="pollsTable">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="width: 20%">Time</th>
        <th scope="col" style="width: 50%">Title</th>
        <th scope="col" style="width: 15%">Result</th>
        <th scope="col" style="width: 15%">Votes (For / Against)</th>
      </tr>
    </thead>
    <tbody>
      {% for poll in allPolls %}
        {% if poll.active %}
          <tr style="background:lightgreen">
        {% else %}
          <tr>
        {% endif %}
          <td>{{ poll.startTime | date:"h:i a d M" }}</td>
          <td><a href='/poll/{{ poll.id }}/'>{{ poll.title }}</a></td>
          <td>
            {% if poll.outcome == 0 %}
              -
            {% elif poll.outcome == 1 %}
              Carried
            {% elif poll.outcome == 2 %}
              Lost
            {% elif poll.outcome == 3 %}
              Tied
            {% endif %}
          </td>
          <td>
            {% if poll.active %}
              -
            {% else %}
              {{poll.yesVotes}} / {{poll.noVotes}}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}