{% extends 'councilApp/base.html' %}

{% block title %}Poll Info{% endblock %}

{% block content %}

<h2>Poll: "{{ poll.title }}"</h2>
<ul>
  {% for item in poll.describe %}
    <li>{{ item }}</li>
  {% endfor %}
</ul>
{% if poll.active %}
<a href="/vote/{{poll.id}}/" class="btn btn-primary mb-2">Open poll: Vote now</a>
{% else %}
<h4>Result:
  {% if poll.outcome == 0 %}
    Not available
  {% elif poll.outcome == 1 %}
    <span style="color:green;">Carried</span>
  {% elif poll.outcome == 2 %}
    <span style="color:red;">Lost</span>
  {% elif poll.outcome == 3 %}
    <span style="color:blue;">Tied</span>
  {% endif %}
</h4>
  <h4>Time closed: {{poll.endTime}}</h4>
{% endif %}

<br>

<a href="/poll/" class="btn btn-outline-primary">Return to polls</a>
{% if superadmin and poll.active %}
  <a href="/poll/close/{{poll.id}}" class="btn btn-danger">Close poll</a>
{% endif %}

<br>
<br>

{% if poll.active and superadmin and not poll.roll_call %}
<div class="alert alert-info" role="alert">
  As this poll is active, the votes are visible only to you.
</div>
{% endif %}

{% if not poll.active or superadmin or poll.roll_call %}
  <h4>Total ballots cast: {{ allVotes|length }}</h4>
  {% if poll.weighted %}
    {% if superadmin %}
      <h4>Total weighted votes: {{ sumResults }}</h4>
      <div class="alert alert-info" role="alert">
        As this poll is weighted, the number of weighted votes is visible only to you.
      </div>
    {% else %}
      {% comment %}TODO: Make this configurable!{% endcomment %}
      <h4>Total weighted votes: Hidden</h4>
    {% endif %}
  {% endif %}
  <br>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% if poll.roll_call %}
    <div class="col">
      <div class="card h-100">
        <div class="card-header" style="background-color: #80ff80">
          <h5 class="card-title">Present: {% if poll.weighted and not superadmin %}Hidden{% else %}{{ pollResults.1 }}{% endif %}</h5>
        </div>
        <div class="card-body">
          {% if poll.anonymous and not superadmin%}
            <p>Names hidden</p>
          {% else %}
            {% for vote in allVotes %}
              <p>{{vote.voter.name}} ({{vote.voter.institution.shortName}})</p>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    {% else %}
    <div class="col">
      <div class="card h-100">
        <div class="card-header" style="background-color: #80ff80">
          <h5 class="card-title">Votes for: {% if poll.weighted and not superadmin %}Hidden{% else %}{{ pollResults.1 }}{% endif %}</h5>
        </div>
        <div class="card-body">
          {% if poll.anonymous and not superadmin%}
            <p>Names hidden</p>
          {% else %}
            {% for vote in allVotes %}
              {% if vote.vote == 1 %}
                <p>{{vote.voter.name}} ({{vote.voter.institution.shortName}})</p>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <div class="card-header" style="background-color: #ff8080">
          <h5 class="card-title">Votes against: {% if poll.weighted and not superadmin %}Hidden{% else %}{{ pollResults.2 }}{% endif %}</h5>
        </div>
        <div class="card-body">
          {% if poll.anonymous and not superadmin %}
            <p>Names hidden</p>
          {% else %}
            {% for vote in allVotes %}
              {% if vote.vote == 2 %}
                <p>{{vote.voter.name}} ({{vote.voter.institution.shortName}})</p>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <div class="card-header" style="background-color: #80bfff">
          <h5 class="card-title">Abstentions: {% if poll.weighted and not superadmin %}Hidden{% else %}{{ pollResults.0 }}{% endif %}</h5>
        </div>
        <div class="card-body">
          {% if poll.anonymous and not superadmin %}
            <p>Names hidden</p>
          {% else %}
            {% for vote in allVotes %}
              {% if vote.vote == 0 %}
                <p>{{vote.voter.name}} ({{vote.voter.institution.shortName}})</p>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  {% if poll.repsOnly%}
    <br>
    <h4>AMSA Reps not voted:</h4>
    <ul>
      {% if yetToVote|length == 0%}
        <li>All voted</li>
      {% else %}
        {% for uni in yetToVote %}
          <li>{{uni}}</li>
        {% endfor %}
      {% endif %}
    </ul>
  {% endif %}
{% endif %}






{% endblock %}