{% comment %}
    Copyright © 2021  Lee Yingtong Li (RunasSudo), Allen Gu

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% for speaker in speakers %}
  <div class="list-group-item{% if speaker.point_of_order %} list-group-item-danger{% elif speaker.delegate.first_time %} list-group-item-primary{% endif %}">
    <div class="h5 d-flex mb-0">
      <span style="flex-grow:1;">{{ speaker.delegate.name }}</span>
      {% if speaker.point_of_order %}<i class="bi bi-exclamation-triangle-fill" data-toggle="tooltip" title="Point of order"></i>{% elif speaker.delegate.first_time %}<i class="bi bi-star" data-toggle="tooltip" title="First time attendee"></i>{% endif %}
    </div>
    <small>Speaker {{ speaker.delegate.speakerNum }}. {{ speaker.delegate.role }}.</small>
  </div>
  {% empty %}
  <div class="alert alert-secondary" role="alert">
    No delegates are currently on the speaker list.
  </div>
{% endfor %}
