{% extends 'councilApp/base.html' %}

{% comment %}
    Copyright © 2021  Lee Yingtong Li (RunasSudo), Allen Gu

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}Speaker List{% endblock %}

{% block content %}
  <div style="max-width: 600px; margin: 0 auto;">
    <h2 class="mb-3">Speaker List</h2>

    <form action="/speaker_list/add" method="POST">
      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          {% if on_list %}
            <button type="submit" name="action" value="remove" class="btn btn-secondary w-100">Remove yourself from the list</a>
          {% else %}
            <button type="submit" name="action" value="add" class="btn btn-primary w-100">Add yourself to the speaker list</a>
          {% endif %}
        </div>
        <div class="col-12 col-md-6">
          <button type="submit" name="action" value="point_order" class="btn btn-danger w-100"><i class="bi bi-exclamation-triangle-fill"></i> Raise a point of order</a>
        </div>
      </div>
      {% csrf_token %}
    </form>

    <div class="list-group" id="speaker-list">
      {% for speaker in speakers %}
        <div class="list-group-item{% if speaker.point_of_order %} list-group-item-danger{% elif speaker.delegate.first_time %} list-group-item-primary{% endif %}">
          <div class="h5 d-flex mb-0">
            <span style="flex-grow:1;">{{ speaker.delegate.name }}</span>
            {% if speaker.point_of_order %}<i class="bi bi-exclamation-triangle-fill" data-toggle="tooltip" title="Point of order"></i>{% elif speaker.delegate.first_time %}<i class="bi bi-star" data-toggle="tooltip" title="First time attendee"></i>{% endif %}
          </div>
          <small>Speaker {{ speaker.delegate.speakerNum }}. {{ speaker.delegate.role }}.</small>
        </div>
      {% empty %}
        <div class="alert alert-secondary" role="alert">
          No delegates are currently on the speaker list.
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dragula@3.7.3/dist/dragula.min.css" integrity="sha256-kbjOP63kZCB+lxhssN+h5qDCLSLI7EhP3/r2S/jPCd4=" crossorigin="anonymous">
{% endblock %}

{% block script %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/dragula@3.7.3/dist/dragula.min.js" integrity="sha256-egj5xxtj40Ds0GUbObVZ7m2LEOsnvu9i5Ogtmd1I+jk=" crossorigin="anonymous"></script>
  <script>
    $(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });

    var dragulaSL = dragula([document.querySelector('#speaker-list')]);

    dragulaSL.on("drop", function(el, target, source, sibling) {
      alert("Dragged and dropped!");
    });
  </script>
{% endblock %}
