{% extends 'councilApp/base.html' %}

{% block title %}Vote{% endblock %}

{% block content %}
{% load static %}

<h2>Vote on: "{{ activePoll.title }}"</h2>
<ul>
  {% for item in activePoll.describe %}
    <li>{{ item }}</li>
  {% endfor %}
</ul>
<p>If you need to appoint or manage proxies, <a href="/proxy/">click here</a>.</p>
<p>Note: To submit your votes, click the green "Submit" button at the bottom of the screen. Please ensure you have selected voted on all ballots (including proxies). <strong>You may amend your vote after you have submitted it.</strong></p>

<hr/>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-header">
        <h5 class="card-title">Your own ballot</h5>
      </div>
      {% if activePoll.repsOnly and not delegateInfo.delegate.rep %}
        <div class="card-body" style="background-color: lightgray">
          <p class="card-text">
            You are not an AMSA Representative, so you may not vote for yourself. You may still vote if AMSA Reps have nominated you as their proxy.
          </p>
        </div>
      {% else %}
        {% if delegateInfo.delegateProxy %}
          <div class="card-body" style="background-color: lightgray">
            <p class="card-text">
              You have assigned <strong>{{delegateInfo.delegateProxy.holder}}</strong> as your proxy. <a href="/proxy/">Click here</a> to manage your proxies.
            </p>
            {% if delegateInfo.delegateVote %}
              <p>Your proxy has voted <strong>
                {% if delegateInfo.delegateVote.vote == 0 %}
                  Abstain.
                {% elif delegateInfo.delegateVote.vote == 1 %}
                  For.
                {% elif delegateInfo.delegateVote.vote == 2 %}
                  Against.
                {% endif %}
              </strong></p>
            {% else %}
              <p>Your proxy has <strong>not voted yet</strong>.</p>
            {% endif %}
          </div>
        {% else %}
          <div class="card-body">
            <p class="card-text">
              Vote for yourself.
            </p>
          </div>
          <div class="btn-group" role="group">
            {% if activePoll.roll_call %}
            <input type="radio" class="btn-check" name="btnradio_Own" id="ownRadio_1" autocomplete="off">
            <label class="btn btn-outline-success" for="ownRadio_1">Present</label>
            {% else %}
            <input type="radio" class="btn-check" name="btnradio_Own" id="ownRadio_1" autocomplete="off">
            <label class="btn btn-outline-success" for="ownRadio_1">For</label>

            <input type="radio" class="btn-check" name="btnradio_Own" id="ownRadio_2" autocomplete="off">
            <label class="btn btn-outline-danger" for="ownRadio_2">Against</label>

            <input type="radio" class="btn-check" name="btnradio_Own" id="ownRadio_0" autocomplete="off">
            <label class="btn btn-outline-primary" for="ownRadio_0">Abstain</label>
            {% endif %}
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>

  {% for proxyInfo in proxiesInfo %}
    <div class="col">
      <div class="card h-100">
        <div class="card-header">
          <h5 class="card-title">Proxy ballot for <strong>{{proxyInfo.proxyObj.voter}}</strong></h5>
        </div>
        
        {% if activePoll.repsOnly and not proxyInfo.proxyObj.voter.rep %}
          <div class="card-body" style="background-color: lightgray">
            <p class="card-text">
              <strong>{{proxyInfo.proxyObj.voter}}</strong> is not an AMSA representative, so you may not vote for them on this poll.
            </p>
          </div>
        {% else %}
          <div class="card-body">
            <p class="card-text">
              Vote on behalf of <strong>{{proxyInfo.proxyObj.voter}}</strong>.
            </p>
          </div>
          <div class="btn-group" role="group">
            {% if activePoll.roll_call %}
            <input type="radio" class="btn-check" name="btnradio_{{proxyInfo.proxyObj.id}}" id="proxyRadio_1_{{proxyInfo.proxyObj.id}}" autocomplete="off">
            <label class="btn btn-outline-success" for="proxyRadio_1_{{proxyInfo.proxyObj.id}}">Present</label>
            {% else %}
            <input type="radio" class="btn-check" name="btnradio_{{proxyInfo.proxyObj.id}}" id="proxyRadio_1_{{proxyInfo.proxyObj.id}}" autocomplete="off">
            <label class="btn btn-outline-success" for="proxyRadio_1_{{proxyInfo.proxyObj.id}}">For</label>

            <input type="radio" class="btn-check" name="btnradio_{{proxyInfo.proxyObj.id}}" id="proxyRadio_2_{{proxyInfo.proxyObj.id}}" autocomplete="off">
            <label class="btn btn-outline-danger" for="proxyRadio_2_{{proxyInfo.proxyObj.id}}">Against</label>

            <input type="radio" class="btn-check" name="btnradio_{{proxyInfo.proxyObj.id}}" id="proxyRadio_0_{{proxyInfo.proxyObj.id}}" autocomplete="off">
            <label class="btn btn-outline-primary" for="proxyRadio_0_{{proxyInfo.proxyObj.id}}">Abstain</label>
            {% endif %}
          </div>
        {% endif %}
        </div>
    </div>
  {% endfor %}
</div>
<br>
<button type="button" class="btn btn-success w-100" onclick="voteSubmit({{ activePoll.id }})">Submit</button>

<script src="{% static 'councilApp/js/vote.js' %}" type="text/javascript"></script>
<script type="text/javascript">
  getActiveVotes({{ activePoll.id }});
</script>

{% endblock %}