{% extends 'councilApp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Admin Centre - Council Webapp{% endblock %}

{% block content %}

<h2>Admin Centre</h2>
These tools are available to you because you are a superadmin.
<hr/>

<h4>Add users</h4>
<p>Invite new users to register accounts on the Webapp.<p>
<a href="/app_admin/add_users/" class="btn btn-success">Add users</a>
<hr/>

<h4>Assign AMSA Representatives</h4>
<p>Assign Webapp users to be AMSA Reps.<p>
<a href="/app_admin/assign_reps/" class="btn btn-success">Assign AMSA Reps</a>
<hr/>

<h4>Assign Webapp Admins</h4>
<p>Assign or unassign Webapp users as Webapp admins.<p>
<a href="/app_admin/assign_admins/" class="btn btn-success">Assign Webapp admins</a>
<hr/>

<h4>Download Council data</h4>
<p>You will download a .zip folder containing CSV files of the following:</p>
<ul>
  <li>agenda</li>
  <li>speaker list</li>
  <li>motions and voting results</li>
  <li>links to reports</li>
</ul>
<p>(Note: it may take a few seconds to prepare the data for download. Please wait patiently.)</p>
<a href="/app_admin/download_data/" class="btn btn-primary">Download data</a>
<hr/>

<h4>Django admin interface</h4>
<p>Django has a <a href='/admin/'>native admin interface</a> that can be used to edit database entries directly. Use this function ONLY if you are confident to do so.</p>
<hr/>

<h4>Webapp custom configuration settings</h4>
<p>Custom configuration settings can be found in <a href="{{ customConfigURL }}" target="_blank">this YAML file</a>. Modifying this configuration requires restarting the server.</p>
<a onclick="restartSite();return false;" href="#" class="btn btn-primary">Reload data and restart server</a>
<hr/>

<h4>Reset webapp and wipe all data</h4>
<div class="alert alert-danger" role="alert">
  <strong>WARNING:</strong> This action will permanently remove ALL database information such as delegate, poll and proxy data from the webapp. Information such as the agenda and report links will not be affected as they are configuration variables. Institutional information will also be unaffected.
  <br/>
  <strong>Please ensure you have downloaded a copy of the Council data before you do this.</strong>
</div>
<p>(Note: it may take a few seconds to delete and reset the webapp. Please wait patiently.)</p>
<a onclick="checkDelete()" href="javascript:void(0)" class="btn btn-danger">Delete all data and reset webapp</a>
<hr/>

<script>
  function checkDelete() {
    if (confirm('Resetting the webapp is IRREVERSIBLE. Please ensure you have saved a copy of the webapp data. Do you wish to proceed?')) {
  // Save it!
      resetWebappAJAX();
    } else {
      // Do nothing!
      alert('Nothing was attempted.');
    }
  }

  function resetWebappAJAX() {
    $.ajax({
      url: '/ajax/ResetAndWipe/',
      data: {'confirmation':true},
      dataType: 'json',
      success: function (data) {
        if (data.raise404) {
          if(!alert('An error occurred. Nothing will be attempted.')){}
        } else {
          if (data.successWipe) {
            if(!alert('All data has successfully been wiped, and the webapp has been reset.')){}
          } else {
            if(!alert('An error occurred. Nothing will be attempted.')){}
          }
        }
      },
      failure: function (data) {
        if(!alert('An error occurred. Nothing will be attempted.')){}
      }
    });
  };

  function doReload() {
    window.setTimeout(function() { location.reload(); }, 500);
  }
  function restartSite() {
    $.ajax({
      url: '/ajax/restartSite/',
      success: doReload,
      failure: doReload
    });
  }
</script>

{% endblock %}
