{% extends 'councilApp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Admin Centre{% endblock %}

{% block content %}

<h2>Admin Centre</h2>
These tools are available to you because you are a superadmin.
<hr/>

<h4>Download Council data</h4>
<p>You will download a .zip folder containing CSV files of the following:</p>
<ul>
  <li>agenda</li>
  <li>speaker list</li>
  <li>motions and voting results</li>
  <li>links to reports</li>
</ul>
<p>(Note: it may take a few seconds to prepare the data for download. Please wait patiently.)</p>
<a href="/app_admin/download_data/" class="btn btn-primary">Download data</a>


<hr/>

<h4>Add users</h4>
<p>Invite new users to register accounts on the Webapp.<p>
<a href="/app_admin/add_users/" class="btn btn-success">Add users</a>
<hr/>

<h4>Open/close registrations</h4>
<hr/>

<h4>Reset webapp and wipe all data</h4>
<hr/>

{% endblock %}