<p>Dear {{name}},</p>

<p>Thank you for registering for AMSA National Council!</p>

<p>For this hybrid Council, we are <strong>continuing to use our new Council website</strong>: <a href="https://council.amsa.org.au">council.amsa.org.au</a></p>

<p>This webapp will be the central hub for all things Council, including but not limited to:</p>
<ul>
	<li>Key info, eg. agenda, Zoom links, reports, social event information</li>
	<li>Dynamic speaker list where you can add yourself to speak</li>
	<li>Voting platform for polls and motions</li>
	<li>Proxy nomination</li>
</ul>

<p>To access the webapp, you'll need to activate your Webapp account and set a password. The link to do so is here: <a href="{{activateLink}}">{{activateLink}}</a></p>

<p>Your account has already been populated with information you supplied to us at registration. However, we highly encourage you to review your details and information once you have activated your Webapp account. You can do this by navigating to <a href="https://council.amsa.org.au/profile">your profile</a> after activation. Specifically, you may wish to check your pronouns and first-time-attendee status.</p>

<p>A full introduction to the webapp will be delivered at Council, but please ensure that you have activated your account by the time of Council.</p>

<p>If you experience any issues, contact us at <a href="mailto:secretary@amsa.org.au">secretary@amsa.org.au</a> or <a href="mailto:yingtong.li@amsa.org.au">yingtong.li@amsa.org.au</a></p>

<p>Regards,</p>
<p>Allen Gu (AMSA Secretary)</p>
<p>Lee Yingtong Li (Council Chair)</p>