<p>Dear {{name}},</p>

<p>Thank you for registering for AMSA National Council!</p>

<p>For this Council, we are using <strong><a href="{{ site_url }}">{{ site_name }}</a></strong>. To access the webapp, <strong>you'll need to activate your account and set a password</strong>. The link to do so is here: <a href="{{activateLink}}">{{activateLink}}</a></p>

<p>This webapp will be the central hub for all things Council, including but not limited to:</p>
<ul>
	<li><a href="{{ site_url }}/agenda/">Agenda</a> and council schedule information</li>
	<li>Active <a href="{{ site_url }}/discussions/">discussion rooms</a> where you can join speaker queues and follow speaking order</li>
	<li><a href="{{ site_url }}/poll/">Voting platform</a> for polls and motions</li>
	<li><a href="{{ site_url }}/proxy/">Proxy nomination</a></li>
</ul>

<p>Your account has already been populated with information supplied at registration. Please review your details once you have activated your account by navigating to <a href="{{ site_url }}/profile/">your profile</a>. Specifically, you may wish to check your pronouns and first-time-attendee status.</p>

<p>A full introduction to the webapp will be delivered at Council, but please ensure that you have activated your account by the time of Council.</p>

<p>If you experience any issues, contact us at <a href="mailto:{{ support_email }}">{{ support_email }}</a>.</p>

<p>Regards,</p>
<p>{{ admin_name }}</p>
