{% extends 'councilApp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Valid Institution List - Council Webapp{% endblock %}

{% block content %}

<h2>Valid Institution List</h2>
<p>When using the <a href='/app_admin/add_users/'>Add Users</a> function, the CSV file must contain institution names spelt EXACTLY as one of the below (case sensitive). Institutions may be indicated by either the long or the short name (not both).</p>
<p>You can download <a href='/app_admin/valid_institutions/download/'>a text file with these institution names here</a>.

<div class="table">
  <table class="table table-hover" id="institutionNames">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Valid long name</th>
        <th scope="col">Valid short name</th>
      </tr>
    </thead>
    <tbody>
      {% for institution in institutions %}
        <tr>
          <td>{{institution.name}}</td>
          <td>{{institution.shortName}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</script>
{% endblock %}